:root {
  --pdd-transition-duration: 0.5s;
  --pdd-text-secondary: #909399;
  --pdd-text-placeholder: #a8abb2;
  --pdd-text-disabled: #c0c4cc;
  --pdd-border-color: #dcdfe6;
  --pdd-border-color-light: #e4e7ed;
  --pdd-color-primary-light: #79bbff;
  --pdd-color-primary-light-5: #a0cfff;
  --pdd-color-success: #67c23a;
  --pdd-color-success-light-3: #95d475;
  --pdd-color-success-light-5: #b3e19d;
  --pdd-color-warning: #e6a23c;
  --pdd-color-warning-light-3: #eebe77;
  --pdd-color-warning-light-5: #f3d19e;
  --pdd-color-warning-light-7: #f8e3c5;
  --pdd-color-warning-light-9: #fdf6ec;
  --pdd-color-danger: #f56c6c;
  --pdd-color-danger-light-3: #f89898;
  --pdd-color-danger-light-5: #fab6b6;
  --pdd-color-error: #f56c6c;
  --pdd-color-error-light-3: #f89898;
  --pdd-color-error-light-5: #fab6b6;
  --pdd-color-info-light-3: #b1b3b8;
  --pdd-color-info-light-5: #c8c9cc;
}
html[theme='dark'] {
  --pdd-primary: #409eff;
  --pdd-bg-color: #141414;
  --pdd-text-primary: #ffffff;
  --pdd-text-secondary: #909399;
  --pdd-text-placeholder: #a8abb2;
  --pdd-text-disabled: #c0c4cc;
  --pdd-border-color: #dcdfe6;
  --pdd-border-color-light: #e4e7ed;
}
html[theme='bright'] {
  --pdd-primary: #409eff;
  --pdd-bg-color: #ffffff;
  --pdd-text-primary: #000000;
}